<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Nora's About Page</title>
    </head>

    <body>
        {{> header}}
        <p>Whatever, whatever, whatever</p>
    </body>

    {{> footer}}

</html>